# DeepSeek API
DEEPSEEK_API_KEY=sk-e25a7f3ddc4149f8ba1d9b547aaf7f31

# LangSmith
LANGSMITH_API_KEY=your_key_here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=connor-agent-dev

# Proxy (UTM VM -> Host Clash)
https_proxy=http://192.168.64.1:7897
http_proxy=http://192.168.64.1:7897
